* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
:root, body {
  height: 100%;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear-float::after {
  content: "";
  display: block;
  clear: both;
}
.mr-5 {
  margin-right: 5px;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
td {
  display: table-cell;
  vertical-align: inherit;
}